# Default values for onos-topo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: onosproject/onos-topo
  tag: v0.6.0
  pullPolicy: IfNotPresent
  pullSecrets: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "onos-topo"

debug: false

store:
  controller: "atomix-controller.kube-system.svc.cluster.local:5679"
  consensus:
    enabled: true
    database: ""
    image: atomix/raft-storage-node:v0.1.0
    imagePullPolicy: IfNotPresent
    partitions: 1
    clusters: 1
    replicas: 1

ingress:
  enabled: false

resources: {}

service:
  type: ClusterIP

nodeSelector: {}

tolerations: []

affinity: {}

logging: {}
