{{- if .Values.logging }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}-logging
  labels:
    app: "{{ .Values.app_label }}"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  org.ops4j.pax.logging.cfg: |
    {{- .Values.logging.config  | nindent 4 }}
{{- end }}
