# SPDX-FileCopyrightText: 2022 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

.idea/
build/release
build/_output
.DS_Store
staging/
requirements.lock
**/charts/*
build/build-tools
venv
