apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "onos-ric.fullname" . }}
  labels:
    {{- include "onos-ric.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      name: {{ template "onos-ric.fullname" . }}
      app: onos
      type: ran
      resource: {{ template "onos-ric.fullname" . }}
      {{- include "onos-ric.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        name: {{ template "onos-ric.fullname" . }}
        app: onos
        type: ran
        resource: {{ template "onos-ric.fullname" . }}
        {{- include "onos-ric.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: onos-ric
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: ric-depcheck
          image: {{ .Values.image.depCheck | quote }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsUser: 0
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: PATH
              value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/
            - name: COMMAND
              value: "echo done"
            - name: DEPENDENCY_POD_JSON
              value: '[{"labels": {"name": "atomix-controller"}, "requireSameNode": false}, {"labels": {"name": "onos-topo"}, "requireSameNode": false}]'
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            # *_NAMESPACE and *_NAME environment variables are recognized by onos-lib-go utilities.
            # These variables should always be defined.
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SERVICE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SERVICE_NAME
              value: {{ template "onos-ric.fullname" . }}
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            # Note: Atomix environment variables remain for backwards compatibility.
            # TODO: Remove Atomix environment variables once images have be updated to use new configuration file format
            - name: ATOMIX_CONTROLLER
              value: {{ .Values.store.controller | quote }}
            - name: ATOMIX_APP
              value: {{ include "onos-ric.fullname" . }}
            - name: ATOMIX_RAFT
              {{- if .Values.store.consensus.database }}
              value: {{ .Values.store.consensus.database }}
              {{- else }}
              value: {{ template "onos-ric.fullname" . }}-consensus
              {{- end }}
            - name: ATOMIX_NAMESPACE
              value: {{ .Release.Namespace }}
          args:
            - "-caPath=/etc/onos/certs/tls.cacrt"
            - "-keyPath=/etc/onos/certs/tls.key"
            - "-certPath=/etc/onos/certs/tls.crt"
          ports:
            - name: grpc
              containerPort: 5150
            {{- if .Values.debug }}
            - name: debug
              containerPort: 40000
              protocol: TCP
            {{- end }}
          livenessProbe:
            tcpSocket:
              port: 5150
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 5150
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /etc/onos/config
              readOnly: true
            - name: secret
              mountPath: /etc/onos/certs
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          # Enable ptrace for debugging
          securityContext:
            {{- if .Values.debug }}
            capabilities:
              add:
                - SYS_PTRACE
            {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ template "onos-ric.fullname" . }}-config
        - name: secret
          secret:
            secretName: {{ template "onos-ric.fullname" . }}-secret
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
