---
nameOverride: ""

image:
  repository: onosproject/onos
  tag: 2.2.8
  pullPolicy: IfNotPresent
  pullSecrets: []

replicas: 3
java_opts: -Xmx4G
probe_timeout: 5
apps:
- org.onosproject.openflow-base

atomix:
  replicas: 3

podAntiAffinity:
  enabled: true

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10

resources:
  requests:
    cpu: 0.5
    memory: 512Mi

individualOpenFlowNodePorts: false

ports:
  - name: openflow
    port: 6653
  - name: ovsdb
    port: 6640
  - name: east-west
    port: 9876
  - name: cli
    port: 8101
  - name: ui
    port: 8181

# logging:
#   karafVersion: 4.2.9
#   config: |
#     # Just an example. See org.ops4j.pax.logging.cfg for details.
#
#     log4j2.rootLogger.level = DEBUG
#
#     log4j2.rootLogger.appenderRef.Console.ref = Console
#     log4j2.appender.console.type = Console
#     log4j2.appender.console.name = Console
#     log4j2.appender.console.layout.type = PatternLayout
#     log4j2.appender.console.layout.pattern = %d{RFC3339} %-5level [%c{1}] %msg%n%throwable
