# Default values for onos-config.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  image:
    registry: ""
    tag: ""
  storage:
    controller: ""
    config:
      name: ""

replicaCount: 1

image:
  registry: ""
  repository: onosproject/onos-config
  tag: v0.7.17
  pullPolicy: IfNotPresent
  pullSecrets: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "onos-config"

debug: false

devices: []

# Variable to change to onos topo service endpoint for the default onos-topo:5150
# topoEndpoint: onos-topo-classic:5150

plugin:
  cache:
    enabled: false
    storage:
      class: "standard"
      size: 1Gi
  compiler:
    version: v0.4.3
    target: ""

storage:
  controller: "atomix-controller.kube-system.svc.cluster.local:5679"
  consensus:
    enabled: true
    name: ""
    type: raft
    image: ""
    imagePullPolicy: IfNotPresent
    partitions: 1
    replicas: 1
    partitionsPerCluster: 1

ingress:
  enabled: false

service:
  type: ClusterIP

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

config: {}

logging:
  loggers:
    root:
      level: info
      output:
        stdout:
          sink: stdout
  sinks:
    stdout:
      type: stdout
      stdout: {}

# Enable by giving a value like http://dex:32000
# make sure this is reachable at http://dex:32000/.well-known/openid-configuration
openidc:
  issuer:
  admingroup: AetherROCAdmin
