# Default values for onos-config.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: onosproject/onos-config
  tag: latest
  pullPolicy: IfNotPresent
  pullSecrets: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "onos-config"

debug: false

devices: []

plugins:
  devicesim:
    versions:
      - 1.0.0
  stratum:
    versions:
      - 1.0.0
  testdevice:
    versions:
      - 1.0.0
      - 2.0.0

# Variable to change to onos topo service endpoint for the default onos-topo:5150
# topoEndpoint: onos-topo-classic:5150

store:
  controller: "atomix-controller.kube-system.svc.cluster.local:5679"
  consensus:
    enabled: true
    database: ""
    image: atomix/raft-storage-node:v0.1.0
    imagePullPolicy: IfNotPresent
    partitions: 1
    clusters: 1
    replicas: 1

ingress:
  enabled: false

service:
  type: ClusterIP

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

config: {}
