apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "onos-ztp.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "onos-ztp.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      name: {{ template "onos-ztp.fullname" . }}
      app: onos
      type: ztp
      resource: {{ template "onos-ztp.fullname" . }}
      {{- include "onos-ztp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        name: {{ template "onos-ztp.fullname" . }}
        app: onos
        type: ztp
        resource: {{ template "onos-ztp.fullname" . }}
        {{- include "onos-ztp.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: ATOMIX_CONTROLLER
              value: {{ .Values.store.controller | quote }}
            - name: ATOMIX_APP
              value: {{ include "onos-ztp.fullname" . }}
            - name: ATOMIX_RAFT
              value: {{ .Values.store.raftgroup }}
            - name: ATOMIX_NAMESPACE
              value: {{ .Release.Namespace }}
          args:
            - "-caPath=/etc/onos-ztp/certs/tls.cacrt"
            - "-keyPath=/etc/onos-ztp/certs/tls.key"
            - "-certPath=/etc/onos-ztp/certs/tls.crt"
          ports:
            - name: grpc
              containerPort: 5150
            {{- if .Values.debug }}
            - name: debug
              containerPort: 40000
              protocol: TCP
            {{- end }}
          livenessProbe:
            tcpSocket:
              port: 5150
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 5150
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: secret
              mountPath: /etc/onos-ztp/certs
              readOnly: true
            - name: roledb
              mountPath: /roledb
              readOnly: false
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          # Enable ptrace for debugging
          securityContext:
            {{- if .Values.debug }}
            capabilities:
              add:
                - SYS_PTRACE
            {{- end }}
      volumes:
        - name: secret
          secret:
            secretName: {{ template "onos-ztp.fullname" . }}-secret
        - name: roledb
          emptyDir: {}

    {{- with .Values.nodeSelector }}
    nodeSelector:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
    affinity:
      {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
    tolerations:
      {{- toYaml . | nindent 8 }}
    {{- end }}
