---
# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
# Copyright 2024 Kyunghee University
name: Publish image and tag/release code

on:
  push:
    branches:
      - master
      - fix-workflow-error     # For testing

jobs:
  version-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: check version
        run: |
          sudo snap install yq
          export COMPARISON_BRANCH=origin/master
          git branch -a
          make check-version

  get_changed_charts:
    needs: version-check
    runs-on: ubuntu-latest
    outputs:
      changed_charts: ${{ steps.charts.outputs.changed_charts }}
      has_changed_charts: ${{ steps.charts.outputs.has_changed_charts }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get changed charts
        id: charts
        run: |
          export COMPARISON_BRANCH=${{ github.event.before }}
          target_charts=$(./build/bin/version_check.sh get_changed_charts)
          json_array=$(echo "$target_charts" | jq -R -s -c \
            'split("\n") | map(select(length > 0))')
          echo "changed_charts=$json_array" >> $GITHUB_OUTPUT
          if [ "$(echo "$json_array" | jq 'length')" -gt 0 ]; then
            echo "has_changed_charts=true" >> $GITHUB_OUTPUT
          else
            echo "has_changed_charts=false" >> $GITHUB_OUTPUT
          fi

  tag_versions:
    runs-on: ubuntu-latest
    needs: get_changed_charts
    if: >-
      github.repository_owner == 'onosproject' &&
      needs.get_changed_charts.outputs.has_changed_charts == 'true'
    strategy:
      matrix:
        chart: ${{ fromJson(needs.get_changed_charts.outputs.changed_charts) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create release using REST API
        run: |
          sudo snap install yq
          tc_ver=$(yq e '.version' ${{ matrix.chart }}/Chart.yaml)
          tag_name=${{ matrix.chart }}-$tc_ver
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GH_ONOS_PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/releases \
          -d '{
            "tag_name": "'"$tag_name"'",
            "target_commitish": "${{ github.event.repository.default_branch }}",
            "name": "'"$tag_name"'",
            "draft": false,
            "prerelease": false,
            "generate_release_notes": true
          }'

  publish:
    needs: get_changed_charts
    if: needs.get_changed_charts.outputs.has_changed_charts == 'true'
    strategy:
      matrix:
        chart: ${{ fromJson(needs.get_changed_charts.outputs.changed_charts) }}
    uses: onosproject/.github/.github/workflows/publish-chart-to-ghcr.yml@main
    permissions:
      contents: read
      packages: write
    with:
      chart_path: ${{ matrix.chart }}
