# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
# Copyright 2024 Kyunghee University
# Copyright 2025 The Linux Foundation

name: Publish image and tag/release code

on:
  push:
    branches:
      - master

jobs:
  release-helm-charts:
    if: github.repository_owner == 'onosproject'
    uses: onosproject/.github/.github/workflows/release-helm-charts.yml@main
    with:
      charts_repo_url: https://charts.onosproject.org
      remote_host: static.opennetworking.org
      remote_path: /srv/sites/charts.onosproject.org
    secrets: inherit
